$primary: #e901ab;
$zindex-offcanvas: 1095;
$secondary: #fffeee;
$navbar-dark-color: rgb(252, 255, 242);
$navbar-dark-hover-color: #e901ab;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "altlight": #ffffff,
  "altdark": #934bf8,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
