$primary: #38045d;
$zindex-offcanvas: 1095;
$secondary: #230452;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #b4abc1,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";